/*
Form inputs CSS File
*/

label {
    display:block;
    font-family: var(--font-text);
    font-size:0.9em;
    color:#444;
    margin-left:10px;
    margin-top:10px;
    margin-bottom: 2px;
}

input {
    font-size:1em;
    padding:10px;
    padding-bottom:14px;
    min-width:250px;
    font-family: var(--font-text);
    color:#444;
    border:none;
    border-radius: var(--radius-border);
    background-color: transparent;
    border:none;
    border:1.4px solid #444;
    outline:none;
}

input:focus {
    border-color: var(--primary);
    border-left:4px solid var(--primary);
}

input.block {
    display:block;
    width:80%;
}

.error {
    border:1.4px solid var(--accent);
    animation: error-fill 0.8s ease-in-out;
}

input.error:focus {
    border-left:4px solid var(--accent);
}

input.success {
    border:1.4px solid var(--success);
}

input.success:focus {
    border-left:4px solid var(--success);
}

@keyframes error-fill {
    0% {
        background-color:transparent;
    }
    50% {
        background-color: var(--accent);
        color:white;
    }
    100% {
        background-color: transparent;
        
    }
}